body {margin:0;padding:0}
iframe {margin:0;padding:0;}
div {margin:0;padding:0}
	  		
header 
{
	position:fixed;
	top:0;
	width:100%;
	height:100px;
}   
			
.searchbar
{
	position:fixed;
	top:40px;
	background-color:white;
	width:100%;
	height:100%;
}

.bookmarks
{
	background-color:white;
	width:100%;
	height:100%;
}

.titlebar, li 
{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.titlebar 
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
}

.titlebar > div:first-child 
{
    -webkit-box-flex: 1;
}

.titlebar div 
{
    padding:10px;
    color:#fff;
}

.titlebar div 
{
    border-left:1px solid #666;
    border-right:1px solid #000;
}

.titlebar div:last-child 
{
    border-right:none;
}

.titlebar div:first-child 
{
    border-left:none;
}