body 
{
	margin:0px;
	padding:0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-focus-ring-color:  rgba(0, 0, 0, 0);
}

/* this prevents the search input field from "jumping" on the first search */
input:focus
{
	outline:none;	
}

img
{
	border:0px;
}

div 
{
	margin:0px;
	padding:0px;
}
	  		
header 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	/*height:100px;*/
	z-index:1;
}   

#bookmarks, #history
{
	background-color:white;
	width:100%;
	height:100%;
	display:none;
}

#bookmarksList, #historyList
{
	position:relative;
	top:52px;
	width: 100%;
}

#searchresults
{
	position:absolute;
	top:52px;
	width: 100%;
	display:none;
}

#content
{
	position:relative;
	top:52px;
}

iframe#main {
	width:100%;
}

.listItemContainer
{
	display: -webkit-box;
    -webkit-box-orient: horizontal;
	whitespace: no-wrap;
	border-bottom:1px solid #666;
	width:100%;
	padding-top:12px;
	padding-bottom:12px;
}

.listItem
{
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left:5px;
	margin-right:5px;
}
.iconHistory, .iconSearchResult
{
	position:relative;
	top:3px;
	padding-right: 5px;
}

.iconBookmark
{
	position:relative;
	top:5px;
	padding-right: 5px;
}

.deleteBookmark
{
	position:absolute;
	padding-top:3px;
	right:5px;
}

#search
{
	position: absolute;
	top: 16px;
	right: 8px;
}

#searchParam
{
	position: absolute;
	top: 12px;
	left: 45px;
	right: 45px;
}

#clearSearch
{
	position:fixed;
	top:20px;
	right:48px;
	z-index:2;
	display:none;
}

.titlebarIcon
{
	position: absolute;
	top: 16px;
	left: 8px;
}

#wHolder
{
	display:inline-block;
	margin-top:7px;"
}

#searchFormHolder
{
	white-space:nowrap;
	margin-left:5px;
	margin-top:7px;"
}

.titlebar
{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
    padding: 5px;
    height: 44px;
}

.titlebar > div:first-child 
{
    -webkit-box-flex: 1;
}

.titlebarItem
{
	margin-top:12px;
}

.titlebar div 
{
    /*
    border-left:1px solid #666;
    border-right:1px solid #000;
    */
    color:white;
}
/*
.titlebar div:last-child 
{
    border-right:none;
}
.titlebar div:first-child 
{
    border-left:none;
}
*/