html {
	background: white;
	background-image: url(image/globe-bg.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 140px 325px;
	color: black;
	font-family: "Droid Sans", "Helvetica", sans-serif;
}

#error {
	padding-left: 120px;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 20px;
	padding-bottom: 40px;
}
