<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.wiktionary" 
		android:versionCode="4" 
		android:versionName="1.1alpha1"
		android:installLocation="auto">
	<supports-screens android:xlargeScreens="true" android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:resizeable="true" android:anyDensity="true" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="8" />
	<application android:name=".WiktionaryApp" android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:launchMode="standard" android:name=".WiktionaryActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="*.wiktionary.org" android:scheme="http" />
				<data android:host="*.wiktionary.org" android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable_wiki" />
		</activity>
		<activity android:name="com.phonegap.DroidGap" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
			</intent-filter>
		</activity>
		<provider android:name=".SearchSuggestionsProvider" android:authorities="org.wiktionary.searchsuggestions"></provider>
	</application>
</manifest>
